<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="cat.scss">
</head>
<body>

<div class="yokota">
    <h1>進撃の巨人</h1>
</div>

<p class="border"></p>

<div class="boom">
    その日　人類は思い出した<br>
    ヤツらに支配されていた恐怖を…<br>
    鳥籠の中に囚われていた屈辱を……<br>
</div>

<div class="menu-container">
    <h3>メニュー</h3>
    <ul class="menu">
        <li><%= link_to "ストーリー説明", nozas_path %></li>
        <li><%= link_to "巨人紹介", dogs_lion_path, class: "link" %></li>
        <li><%= link_to "診断", dogs_path, class: "link" %></li>
    </ul>
</div>
</body>
</html>