<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="cat.scss">
</head>
<body>
    <div class="top">
        <div class="yokota">
            <p>進撃の巨人</p>
        </div>

        <p class="border"></p>

        <div class="boom">
            その日　人類は思い出した<br>
            ヤツらに支配されていた恐怖を…<br>
            鳥籠の中に囚われていた屈辱を……<br>
        </div>

        <div class="menu-container">
            <h1>メニュー</h1>
        <ul class="menu">
            <li><%= link_to "ストーリー説明", nozas_path %></li>
            <li><%= link_to "巨人紹介", dogs_lion_path, class: "link" %></li>
            <li><%= link_to "巨人診断", dogs_path, class: "link" %></li>
        </ul>
        </div>
    </div>
</body>
</html>