.edit{
    background-image: image-url('rice.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding-top: 30vh;
    padding-bottom: 10vh;
}
